.sidebar{
    width: 400px;
    float: left;
    position: fixed;
    height: 100%;
    background-color: #fff;
    padding-top: 30px;
    .sidebar-title{
        font-size: 50px;
        color: blue;
        text-align: center;
    }
    .sidebar-menu{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 15px 0px;
    }
}



