<link rel="stylesheet" href="/css/nav.css">

<nav>
    <div class="container nav-container">
        <span class="nav-logo">DuosApp</span>
        <ul>
            <li><a href="#">Список</a></li>
            <li><a href="#">Новый</a></li>
            <li><a href="#">Должники</a></li>
            <li><a href="#">Статистика</a></li>
        </ul>
    </div>
</nav>