<link rel="stylesheet" href="/css/auth.css">


<form action="/login" method="post" class="auth-form">
    <h1>Duos App</h1>
    <input name="name" type="text" placeholder="Usernameni kiriting">
    <input name="password" type="password" placeholder="Parolni kiriting">
    <button>Kirish</button>
</form>