<link rel="stylesheet" href="/css/dashboard.css">
<div class="container dashboard-container">

    <div class="dashboard__table">
        <h1 class="table__header">Список</h1>
        <table class="table__body">
            <thead>
                <tr>
                    <th>Ф.И.О</th>
                    <th>Tелефон</th>
                    <th>Тов номи</th>
                    <th>Тулув куни</th>
                    <th>Обший</th>
                    <th>Март</th>
                    <th>Апрел</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Olimjonov Akbar</td>
                    <td>+998900466681</td>
                    <td>Stulchik</td>
                    <td>15</td>
                    <td>1,000,000</td>
                    <td>250,000</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>Olimjonov Akbar</td>
                    <td>+998900466681</td>
                    <td>Stulchik</td>
                    <td>15</td>
                    <td>1,000,000</td>
                    <td>250,000</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>Olimjonov Akbar</td>
                    <td>+998900466681</td>
                    <td>Stulchik</td>
                    <td>15</td>
                    <td>1,000,000</td>
                    <td>250,000</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>Olimjonov Akbar</td>
                    <td>+998900466681</td>
                    <td>Stulchik</td>
                    <td>15</td>
                    <td>1,000,000</td>
                    <td>250,000</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>Olimjonov Akbar</td>
                    <td>+998900466681</td>
                    <td>Stulchik</td>
                    <td>15</td>
                    <td>1,000,000</td>
                    <td>250,000</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>Olimjonov Akbar</td>
                    <td>+998900466681</td>
                    <td>Stulchik</td>
                    <td>15</td>
                    <td>1,000,000</td>
                    <td>250,000</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>Olimjonov Akbar</td>
                    <td>+998900466681</td>
                    <td>Stulchik</td>
                    <td>15</td>
                    <td>1,000,000</td>
                    <td>250,000</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>Olimjonov Akbar</td>
                    <td>+998900466681</td>
                    <td>Stulchik</td>
                    <td>15</td>
                    <td>1,000,000</td>
                    <td>250,000</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>Olimjonov Akbar</td>
                    <td>+998900466681</td>
                    <td>Stulchik</td>
                    <td>15</td>
                    <td>1,000,000</td>
                    <td>250,000</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>Olimjonov Akbar</td>
                    <td>+998900466681</td>
                    <td>Stulchik</td>
                    <td>15</td>
                    <td>1,000,000</td>
                    <td>250,000</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>Olimjonov Akbar</td>
                    <td>+998900466681</td>
                    <td>Stulchik</td>
                    <td>15</td>
                    <td>1,000,000</td>
                    <td>250,000</td>
                    <td>250,000</td>
                </tr>
            </tbody>
        </table>
    </div>

    {{!-- <ul class="list-header">
        <li>Ф.И.О.</li>
        <li>Tелефон</li>
        <li>Тов номи</li>
        <li>Тулув куни</li>
        <li>Обший</li>
        <li>Март</li>
        <li>Апрел</li>
    </ul>

    <ul class="list-header">
        <li>Olimjonov Akbar</li>
        <li>+998900466681</li>
        <li>Stol</li>
        <li>Тулув куни</li>
        <li>Обший</li>
        <li>Март</li>
        <li>Апрел</li>
    </ul> --}}



</div>